.inputbox{
    height: 35px;
    width: auto;
    margin:20px 10px 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;  
    display:inline;

}
.buttonst{
   height: 35px;
   border-radius: 10px;  
   display:inline;
   padding: 10px;
   margin:20px 10px 20px;
   justify-content: center;
   text-align: center;

}
.add{
    display:flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:315px){
    .add{
        display: block;
        width: 100%;
    }
    .inputbox{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .buttonst{
        margin-top: 10px;
    }
    
}